form{
  position: absolute;
  margin-left: 500px ;
  width: 400px;
  padding: 20px;
  background-color: #2599CD;
  border-radius: 8px;
  
}
h2 {
  text-align: center;
}

label{
  display: inline-block;
  width: 120px;
  color: aliceblue;
  padding: 5px;
}

button {
  padding: 6px;
  text-align: center;
  display: inline-block;
  
  
}